<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h2>Edit Profile</h2></div>
      <div class="panel-body">
        <form class="form" name="editProfileForm" ng-submit="updateProfile(user)" novalidate>

          <div class="row">
            <div class="form-group col-sm-4" >
              <label>First Name</label>
              <input type="text" name="firstName" class="form-control" ng-model="user.firstName"  ng-readonly="true"/>
            </div>

            <div class="form-group col-sm-4" >
              <label>Last Name</label>
              <input type="text" name="lastName" class="form-control" ng-model="user.lastName"  ng-readonly="true"/>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-4" ng-class="{ 'has-success': editProfileForm.title.$valid && submitted,
                                            'has-error': editProfileForm.title.$invalid && submitted }">
              <label>Title</label>
              <input type="text" name="title" class="form-control" ng-model="user.title"
                     placeholder="CEO"
                     required/>

              <p class="help-block" ng-show="editProfileForm.title.$error.required && submitted">
                A Title is required
              </p>
            </div>

            <div class="form-group col-sm-6" ng-class="{ 'has-success': editProfileForm.company.$valid && submitted,
                                            'has-error': editProfileForm.company.$invalid && submitted }">
              <label>Company</label>
              <input type="text" name="company" class="form-control" ng-model="user.company"
                     placeholder="Top Startup Inc."
                  />
            </div>
          </div>

          <div class="row">
            <div class="form-group  col-sm-6">
              <label>Picture</label>
              <em><a href="https://en.gravatar.com/" target="_blank">Please change the Gravatar for your email address to change it</a></em>
              <div>
                <img gravatar-src="user.email" gravatar-size="200" class="img-thumbnail img-responsive">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-8" ng-class="{ 'has-success': editProfileForm.aboutMe.$valid && submitted,
                                            'has-error': editProfileForm.aboutMe.$invalid && submitted }">
              <label>About us</label>
              <textarea name="aboutMe" class="form-control" ng-model="user.aboutMe" rows="4"
                        placeholder="We're building the next disruptive social network ..." ng-minlength="30"
                        required/> </textarea>
              <p class="help-block" ng-show="editProfileForm.aboutMe.$error.required && submitted">
                Say something about yourself/your company !
              </p>

              <p class="help-block" ng-show="editProfileForm.aboutMe.$error.minlength && submitted">
                Text too short (Min 30 characters).
              </p>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-6" ng-class="{ 'has-success': editProfileForm.website.$valid && submitted,
                                            'has-error': editProfileForm.website.$invalid && submitted }">
              <label>Website</label>
              <input type="url" name="website" class="form-control" ng-model="user.website"
                     placeholder="http://www.top-startup.example.com"
                     mongoose-error
                  />


              <p class="help-block" ng-show="editProfileForm.website.$error.url && submitted">
                Doesn't look like a valid url.
              </p>

              <p class="help-block" ng-show="editProfileForm.website.$error.mongoose">
                {{ errors.website }}
              </p>
            </div>
          </div>


          <div>
            <button class="btn btn-lg btn-primary" type="submit" ng-disabled="submitting">
              Update
            </button>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>