<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h2>Edit Profile</h2></div>
      <div class="panel-body">
        <form class="form" name="editProfileForm" ng-submit="updateProfile(user)" novalidate>

          <div class="row">
            <div class="form-group col-sm-4" >
              <label>First Name</label>
              <input type="text" name="firstName" class="form-control" ng-model="user.firstName"  ng-readonly="true"/>
            </div>

            <div class="form-group col-sm-4" >
              <label>Last Name</label>
              <input type="text" name="lastName" class="form-control" ng-model="user.lastName"  ng-readonly="true"/>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-6" ng-class="{ 'has-success': editProfileForm.title.$valid && submitted,
                                            'has-error': editProfileForm.title.$invalid && submitted }">
              <label>Title</label>
              <input type="text" name="title" class="form-control" ng-model="user.title"
                     placeholder="Senior Front End Engineer"
                     required/>

              <p class="help-block" ng-show="editProfileForm.title.$error.required && submitted">
                A Title is required
              </p>
            </div>

            <div class="form-group col-sm-2" ng-class="{ 'has-success': editProfileForm.hourlyRate.$valid && submitted,
                                            'has-error': editProfileForm.hourlyRate.$invalid && submitted }">
              <label>Hourly Rate</label>
              <input type="number" name="hourlyRate" class="form-control" ng-model="user.hourlyRate"
                     placeholder="20"  min="1" max="500"
                     required/>
              $ / hr

              <p class="help-block" ng-show="editProfileForm.hourlyRate.$error.required && submitted">
                An Hourly Rate is required
              </p>

              <p class="help-block" ng-show="editProfileForm.hourlyRate.$error.min && submitted">
                Hourly Rate too low (Min 1 $/hr).
              </p>

              <p class="help-block" ng-show="editProfileForm.hourlyRate.$error.max && submitted">
                Hourly Rate too high (Max 500 $/hr).
              </p>

            </div>

          </div>

          <div class="row">
            <div class="form-group  col-sm-6">
              <label>Picture</label>
              <em><a href="https://en.gravatar.com/" target="_blank">Please change the Gravatar for your email address to change it</a></em>
              <div>
                <img gravatar-src="user.email" gravatar-size="200" class="img-thumbnail img-responsive">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-8" ng-class="{ 'has-success': editProfileForm.aboutMe.$valid && submitted,
                                            'has-error': editProfileForm.aboutMe.$invalid && submitted }">
              <label>About me</label>
              <textarea name="aboutMe" class="form-control" ng-model="user.aboutMe" rows="4"
                        placeholder="I've been coding web apps since 2005 using ..." ng-minlength="50"
                        required> </textarea>
              <p class="help-block" ng-show="editProfileForm.aboutMe.$error.required && submitted">
                Say something about yourself !
              </p>

              <p class="help-block" ng-show="editProfileForm.aboutMe.$error.minlength && submitted">
                Text too short (Min 50 characters).
              </p>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-10" ng-class="{ 'has-success': editProfileForm.skills.$valid && submitted,
                                            'has-error': editProfileForm.skills.$invalid && submitted }">
              <label>Skills</label>

              <ui-select multiple ng-model="user.skills" id="skills-ui-select">
                <ui-select-match placeholder="Select skills ...">{{$item}}</ui-select-match>
                <ui-select-choices repeat="skill in availableSkills | filter:$select.search"
                                   refresh="searchSkills($select.search)" refresh-delay="300">
                  {{skill}}
                </ui-select-choices>
              </ui-select>

            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-6" ng-class="{ 'has-success': editProfileForm.website.$valid && submitted,
                                            'has-error': editProfileForm.website.$invalid && submitted }">
              <label>Pro Website</label>
              <input type="url" name="website" class="form-control" ng-model="user.website"
                     placeholder="http://www.dev-ninja.example.com"
                     mongoose-error
                  />


              <p class="help-block" ng-show="editProfileForm.website.$error.url && submitted">
                Doesn't look like a valid url.
              </p>

              <p class="help-block" ng-show="editProfileForm.website.$error.mongoose">
                {{ errors.website }}
              </p>
            </div>
          </div>


          <div>
            <button class="btn btn-lg btn-primary" type="submit" ng-disabled="submitting">
              Update
            </button>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>